@{
    ViewBag.Title = "About";
}
<h3>Citas</h3>

<form>
    <div>
        <label>Cedula</label>
        <input />
    </div>
    <div>
        <label>Nombre</label>
        <input />
    </div>
</form>

