@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron mt-4">
    <h2  class="display-4">Bienvenido</h2>
    <p class="lead">Aqui la salud esta primero</p>
    @*<p><a href="http://google.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>


<div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="~/Media/1339788964763703.jpg"  alt="">
            <div class="card-body">
                <h4 class="card-title">Doctor</h4>
                <p class="card-text">
                    Estos artículos tratan la gramática española.
                   
                </p>
            </div>
            <div class="card-footer">
                <a href="paginas/blog.html" class="btn btn-primary">Saber Mas...!</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="~/Media/1339788964763703.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title">Citas</h4>
                <p class="card-text">¿Quieres empezar a aprender y </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Saber Mas...!</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="~/Media/1hospital.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title">Consultas</h4>
                <p class="card-text">
                    ¿Quieres empezar a aprender y practicar verbos 
                    
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Saber Mas...!</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="~/Media/1hospital.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title">Horarios</h4>
                <p class="card-text">
                    ¿Quieres empezar a aprender y practicar verbos 
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Saber Mas...!</a>
            </div>
        </div>
    </div>
    

    
   
