@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h2>Bienvenido</h2>
    <p class="lead">Aqui la salud esta primero</p>
    @*<p><a href="http://google.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Media/12354.png" />
        <h2>Buscar Doctor</h2>
        <p>

            Obtenga lo mejor en atención médica con la ayuda de nuestros médicos altamente calificados. Presiona el botón de abajo para iniciar.
        </p>
        <p></p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Doctor")">Encontrar Doctor &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Media/1339788964763703.jpg" />
        <h2>Crear citas</h2>
        <p>Configurar citas nunca ha sido tan fácil. Es sólo un registro y pocos clics de distancia.</p>
        <p><a class="btn btn-default" href="@Url.Action("Create","Appointment")">Agendar ahora &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Media/1hospital.jpg" />
        <h2>Estaditicas</h2>
        <p>
            ¿Quieres saber lo bien que estamos haciendo? Compruébalo tú mismo.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("About","Home")">Mostrar &raquo;</a></p>
    </div>
</div>